@model IEnumerable<TodoProjet3._1.Models.Tache>


@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TaskList</h2>

<p>
    <!--  @Html.ActionLink("Ajout New", "Add" ) -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        S'inscrire
    </button>
</p>

<table class="table">
    <tr>
        <th hidden>@Html.DisplayNameFor(model => model.id)</th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tachename)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tachename)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>


    }

</table>


